# ===================================================================
# solstice-docs requirements file
# ===================================================================
mkdocs
mkdocs-material
pathlib
mkdocs-markdownextradata-plugin