# ===================================================================
# solstice-docs requirements file
# ===================================================================
mkdocs
mkdocs-material
pathlib
mkdocs-markdownextradata-plugin
sphinx
sphinx_rtd_theme
artellapipe-utils
artellapipe-gui
artellapipe-core
artellapipe-launcher